Repository charje-software/co362-group1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node_deps, python_deps, build_prediction_market, build_agent, test_prediction_market, test_agent, deploy_contracts, deploy_app

.gitlab-ci.yml:

image: node:8.16

services:
  - trufflesuite/ganache-cli

variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - prediction-market/node_modules/
  - prediction-market/app/node_modules/
  - .cache/pip

stages:
  - install
  - build
  - test
  - deploy

node_deps:
  stage: install
  script:
   - cd prediction-market/
   - npm install truffle
   - npm install
   - cd app
   - npm install
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - prediction-market/package.json
     - prediction-market/app/package.json
     - .gitlab-ci.yml
     when: on_success

python_deps:
  stage: install
  image: python:3.7
  script:
   - cd agent/
   - pip install -r requirements.txt
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - agent/requirements.txt
     when: on_success

build_prediction_market:
  stage: build
  script:
   - cd prediction-market/
   - ./node_modules/truffle/build/cli.bundled.js compile
   - cd app
   - npm run build
  artifacts:
   paths:
   - prediction-market/app/src/contracts
   - prediction-market/app/build
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - prediction-market/*
     - .gitlab-ci.yml
     when: on_success

build_agent:
  stage: build
  image: python:3.7
  script:
   - cd agent/
   # not building anything yet, just checking code style
   - pycodestyle --show-source --show-pep8 --max-line-length=100 *.py
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - agent/*
     - .gitlab-ci.yml
     when: on_success

test_prediction_market:
  stage: test
  dependencies:
   - build_prediction_market
  script:
   - cd prediction-market/
   - ./node_modules/truffle/build/cli.bundled.js test --network testing
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - prediction-market/*
     - .gitlab-ci.yml
     when: on_success

test_agent:
  stage: test
  script:
   - cd agent/
   - python test_agent_unittest.py
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - agent/*
     - .gitlab-ci.yml
     when: on_success

deploy_contracts:
  stage: deploy
  script:
   - cd prediction-market/
   - ./node_modules/truffle/build/cli.bundled.js migrate --network master
  only:
   refs:
   - master
   changes:
   - prediction-market/contracts/*

deploy_app:
  stage: deploy
  dependencies:
   - build_prediction_market
  script:
   - cp -R ./prediction-market/app/build/* /host/charje/
  only:
   refs:
   - master
   changes:
   - prediction-market/app/*

Implement recording history of predictions and consumptions in PredictionMarket
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

Resolve "Use just one cache for all python jobs"
  .gitlab-ci.yml
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

[A] #39 Implement predict() and init() functions for LSTM univariate and multivariate agents
  agent/LSTMmultivariate.h5
  agent/LSTMunivariate.h5
  agent/calc_model_accuracy.py
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
  agent/requirements.txt
Due: python_deps, build_agent, test_agent

Skeleton for lstm agents that need aggregate / individual data input.
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
  agent/meter.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Adjust Agents's run method for 48 periods per round timing.
  agent/agent.py
  agent/ar_agent.py
  agent/demo.py
  agent/prediction_market_adapter.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Implement Meter and add pkl files for aggregate and household history and future consumption.
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
Due: build_agent, test_agent

Prepare model testing script for lstm agents.
  agent/calc_model_accuracy.py
Due: build_agent, test_agent

[A] #39 Implement predict() and init() functions for LSTM univariate and multivariate agents
  agent/LSTMmultivariate.h5
  agent/LSTMunivariate.h5
  agent/calc_model_accuracy.py
  agent/requirements.txt
Due: python_deps, build_agent, test_agent

[A] #39 Train new multivariate model for household 6 and refactor constructor for LstmMultiAgent to take in training mean and stddev for normalising values
  agent/LSTMmultivariate_household6.h5
  agent/calc_model_accuracy.py
  agent/lstm_multi_agent.py
Due: build_agent, test_agent

Visualize actual consumption in dapp
  prediction-market/app/package-lock.json
  prediction-market/app/package.json
  prediction-market/app/public/index.html
  prediction-market/app/public/manifest.json
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/components/PredictionGraph.js
  prediction-market/app/src/index.css
  prediction-market/app/src/logo.png
Due: node_deps, deploy_app

#39 Fix small bug in trimming actual data length
  agent/calc_model_accuracy.py
Due: build_agent, test_agent

[A] #39 Retrain LSTM univariate model add update with new mean and std_dev
  agent/lstm_agent.py
  agent/models/LSTMunivariate.h5
Due: build_agent, test_agent

[A] #39 Train new LSTM multivariate models for data from households 2 and 6
  agent/calc_model_accuracy.py
  agent/models/LSTMmultivariate.h5
  agent/models/LSTMmultivariate_household6.h5
  agent/models/LSTMmultivariate_household_6.h5
Due: build_agent, test_agent

[A] #39 Add trained LSTM multivariate model for household 7
  agent/calc_model_accuracy.py
  agent/models/LSTMmultivariate_household_7.h5
Due: build_agent, test_agent

#33 Add agent predictions on graph, implement animations
  prediction-market/app/src/components/PredictionGraph.js
Due: none

#33 Fix names of variables
  prediction-market/app/src/components/PredictionGraph.js
Due: none

#51 Implement method for fetching oracle data in PredictionMarketAdapter.
  .gitignore
  agent/agent.py
  agent/ar_agent.py
  agent/calc_model_accuracy.py
  agent/demo.py
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
  agent/oracle.py
  agent/prediction_market_adapter.py
  agent/test_oracle_unittest.py
Due: build_agent, test_agent

#51 Use ArAgent, LstmAgent and LstmMultiAgent in demo.
  agent/demo.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Fix python code style
  agent/calc_model_accuracy.py
Due: build_agent, test_agent

Change offset of prediction by 1 to cater for change in test number (1488)
  agent/ar_agent.py
Due: build_agent, test_agent

#47 Implement AR agent that fits its model again after each day.
  agent/ar_retrain_agent.py
  agent/calc_model_accuracy.py
  agent/demo.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Add getBetWinningScale
  prediction-market/contracts/PredictionMarket.sol
Due: deploy_contracts

Remove tier enum and simply used scales to reduce code complexity
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

[C] #32 Add multiple winning tiers to smart contract
  prediction-market/app/src/MyComponent.js
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

Change base winning scale to 0
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

Use beforeEach in prediction market test
  prediction-market/test/PredictionMarketTest.js
Due: none

Fix how agent bet history is recorded
  agent/prediction_market_adapter.py
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: build_agent, test_agent, deploy_contracts

Add get_winning_scale to PredictionMarketAdapter
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Fix python code style
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Add safe guard for division by zero in pm claim, add agent_account to get_winning_scale call in adapter
  agent/prediction_market_adapter.py
  prediction-market/contracts/PredictionMarket.sol
Due: build_agent, test_agent, deploy_contracts

Add no winners test
  prediction-market/test/NoWinnersTest.js
Due: none

#54 Implement UI form for making bet
  prediction-market/app/package-lock.json
  prediction-market/app/package.json
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/components/MakeBetModal.js
Due: node_deps, deploy_app

#54 Implement contract call in modal, and changed some divs to use Box
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/components/MakeBetModal.js
Due: none

#54 Refactored css code
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/components/MakeBetModal.js
Due: none

#54 Extract CSS styles into const
  prediction-market/app/src/components/MakeBetModal.js
Due: none

Use global node modules cache to save VM space
  .gitlab-ci.yml
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

#53 Implement getCurrentParticipants and getPredictionsFromAddress
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/GettersTest.js
  prediction-market/test/NoWinnersTest.js
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

Remove constants in GettersTest as it gets it from PredictionMarketTest
  prediction-market/test/GettersTest.js
  prediction-market/test/PredictionMarketTest.js
Due: none
