Repository charje-software/co362-group1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent, deploy_contracts, deploy_app

node_deps:
  stage: install
  script:
  - cd prediction-market/
  - npm install truffle
  - npm install
  - cd app
  - npm install

build_prediction_market:
  stage: build
  script:
  - cd prediction-market/
  - ./node_modules/truffle/build/cli.bundled.js compile
  - cd app
  - npm run build
  artifacts:
    paths:
    - prediction-market/app/src/contracts
    - prediction-market/app/build

build_agent:
  stage: build
  script:
  - cd agent/
  - echo "nothing to build for agent"

test_prediction_market:
  stage: test
  dependencies:
  - build_prediction_market
  script:
  - cd prediction-market/
  - ./node_modules/truffle/build/cli.bundled.js test --network testing

test_agent:
  stage: test
  script:
  - echo "nothing to test for agent"

deploy_contracts:
  stage: deploy
  script:
  - cd prediction-market/
  - ./node_modules/truffle/build/cli.bundled.js migrate --network master

deploy_app:
  stage: deploy
  dependencies:
  - build_prediction_market
  script:
  - cp -R ./prediction-market/app/build/* /host/charje/

Run install, build and test stage if .gitlab-ci.yml changes.
  .gitlab-ci.yml
Due: none

Set up agent for interacting with the prediction market contract.
  agent/agent.py
  agent/constants.py
Due: build_agent, test_agent

Refactor agent to use PredictionMarketAdapter and add unit tests.
  .gitlab-ci.yml
  agent/.gitignore
  agent/agent.py
  agent/constants.py
  agent/prediction_market_adapter.py
  agent/requirements.txt
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Try a different python docker image.
  .gitlab-ci.yml
Due: none

Tag python jobs.
  .gitlab-ci.yml
Due: none

Install python packages in venv.
  .gitlab-ci.yml
Due: none

[JEC] #14 Implement 3 continuous stages - betting, ranking, claiming
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/package-lock.json
  prediction-market/package.json
  prediction-market/test/PredictionMarketTest.js
Due: node_deps, build_prediction_market, test_prediction_market, deploy_contracts

#14 Add unit tests for new stages and stage transitions
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

#14 Use SafeMath solidity library for calculations and correct update balance unit test
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

[E] #14 Add new function hashes to agent
  agent/agent.py
  agent/prediction_market_adapter.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

[E] #14 Fix python code style
  agent/agent.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

#14 Add waiting stage and corresponding unit tests
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

[E] #14 Alter d-app to show winning threshold
  prediction-market/app/src/MyComponent.js
  prediction-market/contracts/PredictionMarket.sol
Due: deploy_contracts

#14 Address comments for tests and add unit test for agent rank function
  agent/README.md
  agent/test_agent_unittest.py
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: build_agent, test_agent, deploy_contracts

#26 Add a run method for the agent.
  agent/agent.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Fix linting error
  agent/test_oracle_unittest.py
Due: build_agent, test_agent

Update gitlab-ci.yml to run oracle unit tests in pipeline
  .gitlab-ci.yml
Due: none

Add unit testing for oracle, mocking adaptor & HTTP requests for JSON data
  agent/oracle.py
  agent/oracle_demo.py
  agent/test_oracle_unittest.py
Due: build_agent, test_agent

#5 Create Oracle agent passing live consumption data to smart contract
  agent/oracle.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

#5 Create oracle_demo script to run oracle and fetch new consumption data continuously
  agent/oracle.py
  agent/oracle_demo.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Create run method in oracle to run for fixed num of betting rounds
  agent/oracle.py
  agent/oracle_demo.py
Due: build_agent, test_agent

Fix import codestyle and update rounds counter
  agent/oracle.py
  agent/test_oracle_unittest.py
Due: build_agent, test_agent

Add assertion that number of rounds to run > 0
  agent/oracle.py
Due: build_agent, test_agent

[HJC] #29 Add a demo script that runs multiple agents and the oracle
  agent/README.md
  agent/agent.py
  agent/demo.py
  agent/oracle.py
  agent/prediction_market_adapter.py
  agent/requirements.txt
Due: build_agent, test_agent

[JEC] #30 Update place_bet arguments and data structure stored in contract
  prediction-market/contracts/PredictionMarket.sol
Due: deploy_contracts

Add getter for bet predictions and modified test to use prediction arrays
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

[H] #37 Refactor agent and delete ModelAdapter
  agent/agent.py
  agent/ar_agent.py
  agent/demo.py
  agent/model_adapter.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

#21 Set up a pipeline to compare different ML models
  .gitlab-ci.yml
  agent/.gitignore
  agent/calc_model_accuracy.py
  agent/metrics/.gitignore
  agent/requirements.txt
Due: build_agent, test_agent

[JC] #31 Fix array index bug and update tests to accommodate consumption array
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

#31 Create new groups for stages between betting and ranking, store real consumption values over 24h
  prediction-market/contracts/PredictionMarket.sol
Due: deploy_contracts

Use safe math and remove magic variables
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

Resolve "Change PredictionMarketAdapter to make bet consisting of 48 predictions"
  agent/agent.py
  agent/prediction_market_adapter.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Move START constant to Agent so that all ML agents can use it.
  agent/agent.py
  agent/ar_agent.py
Due: build_agent, test_agent

Revert "Merge branch 'move-start-to-agent' into 'master'"
  agent/agent.py
  agent/ar_agent.py
Due: build_agent, test_agent

Adjust Agents's run method for 48 periods per round timing.
  agent/agent.py
  agent/ar_agent.py
  agent/demo.py
  agent/prediction_market_adapter.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Skeleton for lstm agents that need aggregate / individual data input.
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
  agent/meter.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Implement Meter and add pkl files for aggregate and household history and future consumption.
  .gitlab-ci.yml
  agent/data/agg_future.pkl
  agent/data/agg_history.pkl
  agent/data/household_MAC000002_future.pkl
  agent/data/household_MAC000002_history.pkl
  agent/data/household_MAC000003_future.pkl
  agent/data/household_MAC000003_history.pkl
  agent/data/household_MAC000004_future.pkl
  agent/data/household_MAC000004_history.pkl
  agent/data/household_MAC000006_future.pkl
  agent/data/household_MAC000006_history.pkl
  agent/data/household_MAC000007_future.pkl
  agent/data/household_MAC000007_history.pkl
  agent/data/household_MAC000008_future.pkl
  agent/data/household_MAC000008_history.pkl
  agent/data/household_MAC000009_future.pkl
  agent/data/household_MAC000009_history.pkl
  agent/data/household_MAC000010_future.pkl
  agent/data/household_MAC000010_history.pkl
  agent/data/household_MAC000011_future.pkl
  agent/data/household_MAC000011_history.pkl
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
  agent/meter.py
  agent/test_meter_unittest.py
Due: build_agent, test_agent

#42 Implement three stages only, with two sub-stages each.
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/PredictionMarketTest.js
Due: deploy_contracts

Prepare model testing script for lstm agents.
  agent/calc_model_accuracy.py
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
Due: build_agent, test_agent

Path conditions:
  node_deps: any of: prediction-market/package.json, prediction-market/app/package.json
  build_prediction_market: any of: prediction-market/*
  build_agent: any of: agent/*
  test_prediction_market: any of: prediction-market/*
  test_agent: any of: agent/*
  deploy_contracts: any of: prediction-market/contracts/*
  deploy_app: any of: prediction-market/app/*
