Repository charje-software/co362-group1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node_deps, python_deps, build_prediction_market, build_agent, test_prediction_market, test_agent, deploy_contracts, deploy_app

node_deps:
  stage: install
  script:
  - cd prediction-market/
  - npm install truffle
  - npm install
  - cd app
  - npm install

python_deps:
  stage: install
  image: python:3.7
  script:
  - cd agent/
  - pip install -r requirements.txt

build_prediction_market:
  stage: build
  script:
  - cd prediction-market/
  - ./node_modules/truffle/build/cli.bundled.js compile
  - cd app
  - npm run build
  artifacts:
    paths:
    - prediction-market/app/src/contracts
    - prediction-market/app/build

build_agent:
  stage: build
  image: python:3.7
  script:
  - cd agent/
  - pycodestyle --show-source --show-pep8 --max-line-length=100 *.py

test_prediction_market:
  stage: test
  dependencies:
  - build_prediction_market
  script:
  - cd prediction-market/
  - ./node_modules/truffle/build/cli.bundled.js test --network testing

test_agent:
  stage: test
  script:
  - cd agent/
  - python test_agent_unittest.py

deploy_contracts:
  stage: deploy
  script:
  - cd prediction-market/
  - ./node_modules/truffle/build/cli.bundled.js migrate --network master

deploy_app:
  stage: deploy
  dependencies:
  - build_prediction_market
  script:
  - cp -R ./prediction-market/app/build/* /host/charje/

Comment out python_deps job because VM is out of space
  .gitlab-ci.yml
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

[C] #60 Implement getAveragePredictions
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/test/GettersTest.js
Due: deploy_contracts

[H] #58 implement a simple cheating agent.
  agent/agent.py
  agent/cheating_agent.py
  agent/demo.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

#43 Show agent's bet history from last 7 days in dApp
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/components/AgentBets.js
  prediction-market/app/src/components/PredictionGraph.js
  prediction-market/contracts/PredictionMarket.sol
Due: deploy_contracts

Resolve "Include instructions on how to interact/bet"
  prediction-market/app/package-lock.json
  prediction-market/app/package.json
  prediction-market/app/src/App.css
  prediction-market/app/src/App.js
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/MyContainers.js
  prediction-market/app/src/components/About.js
  prediction-market/app/src/components/PredictionGraph.js
  prediction-market/app/src/index.css
Due: node_deps, deploy_app

Make PredictionMarket extend Ownable and add ownership tests
  prediction-market/contracts/PredictionMarket.sol
  prediction-market/package-lock.json
  prediction-market/package.json
  prediction-market/test/OwnersTest.js
Due: node_deps, build_prediction_market, test_prediction_market, deploy_contracts

Uncomment python stages in pipeline
  .gitlab-ci.yml
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

Refactor About.js
  prediction-market/app/src/App.js
  prediction-market/app/src/components/About.js
Due: none

Run one PM test file at a time
  .gitlab-ci.yml
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

Add constants to getters test
  prediction-market/test/GettersTest.js
Due: none

Remove unused function in calc_model_accuracy
  agent/calc_model_accuracy.py
Due: build_agent, test_agent

Add ArRetrainAgent to calc_model_accuracy script (only plotting, no MSE).
  agent/agent.py
  agent/ar_retrain_agent.py
  agent/ar_retrain_decision_agent.py
  agent/calc_model_accuracy.py
  agent/demo.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Refactor Agent to only call rank and transfer_reward if betting was successful
  agent/agent.py
  agent/ar_retrain_agent.py
  agent/cheating_agent.py
  agent/demo.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Agent only calls rank and transfer_reward if successful bet.
  agent/agent.py
  agent/test_agent_unittest.py
Due: build_agent, test_agent

Change Agent subclasses to match Agent refactor.
  agent/agent.py
  agent/ar_agent.py
  agent/ar_retrain_agent.py
  agent/ar_retrain_decision_agent.py
  agent/calc_model_accuracy.py
  agent/cheating_agent.py
  agent/demo.py
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

#56 Implement Oracle dashboard
  prediction-market/app/src/MyComponent.js
  prediction-market/app/src/components/AgentBets.js
  prediction-market/app/src/components/PredictionGraph.js
  prediction-market/app/src/components/UpdateConsumptionModal.js
  prediction-market/contracts/PredictionMarket.sol
Due: deploy_contracts

Take predict for tomorrow offset into account in calc_model_accuracy
  agent/calc_model_accuracy.py
Due: build_agent, test_agent

#67 [A] Retrain LSTM models to take 1 day offset into account
  agent/models/LSTMmultivariate.h5
  agent/models/LSTMmultivariate_household_6.h5
  agent/models/LSTMmultivariate_household_7.h5
  agent/models/LSTMunivariate.h5
Due: none

Update numpy version requirements for tensorflow
  agent/requirements.txt
Due: python_deps, build_agent, test_agent

#67 [A] Make sure correct slice of meter data is taken for LSTM multi when predict is called later in the day
  agent/lstm_multi_agent.py
Due: build_agent, test_agent

Print whether or not agent ranked with PM and MAE during rank_bet.
  agent/agent.py
  agent/ar_agent.py
  agent/ar_retrain_agent.py
  agent/ar_retrain_decision_agent.py
  agent/calc_model_accuracy.py
  agent/cheating_agent.py
  agent/lstm_agent.py
  agent/lstm_multi_agent.py
Due: build_agent, test_agent

Can run oracle based on time
  agent/oracle.py
  agent/prediction_market_adapter.py
Due: build_agent, test_agent

Implement agent controllers (early, random, late)
  agent/agent_controller.py
  agent/last_chance_agent_controller.py
  agent/random_agent_controller.py
  agent/test_agent_controller_unittest.py
  agent/test_agent_controller_utils.py
  agent/test_last_chance_agent_controller_unittest.py
  agent/test_random_agent_controller_unittest.py
Due: build_agent, test_agent

Rearranged modules into agents and test package
  .gitlab-ci.yml
  agent/README.md
  agent/agents/__init__.py
  agent/agents/agent.py
  agent/agents/agent_controller.py
  agent/agents/ar_agent.py
  agent/agents/ar_retrain_agent.py
  agent/agents/ar_retrain_decision_agent.py
  agent/agents/cheating_agent.py
  agent/agents/last_chance_agent_controller.py
  agent/agents/lstm_agent.py
  agent/agents/lstm_multi_agent.py
  agent/agents/meter.py
  agent/agents/oracle.py
  agent/agents/prediction_market_adapter.py
  agent/agents/random_agent_controller.py
  agent/calc_model_accuracy.py
  agent/demo.py
  agent/test/__init__.py
  agent/test/test_agent_controller_unittest.py
  agent/test/test_agent_controller_utils.py
  agent/test/test_agent_unittest.py
  agent/test/test_last_chance_agent_controller_unittest.py
  agent/test/test_meter_unittest.py
  agent/test/test_oracle_unittest.py
  agent/test/test_random_agent_controller_unittest.py
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

Add scripts for participants.
  agent/README.md
  agent/agents/README.md
  agent/logs/.gitignore
  agent/participants/README.md
  agent/participants/p1.py
  agent/participants/p2.py
  agent/participants/p3.py
  agent/participants/p4.py
  agent/participants/p5.py
  agent/participants/p6.py
Due: build_agent, test_agent

Change ip of ganach-cli docker container and no longer deploy contracts from pipeline
  .gitlab-ci.yml
  README.md
  prediction-market/truffle-config.js
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

Change rank/claim button icons to match about page
  prediction-market/app/src/components/AgentBets.js
Due: none

#61 Add buttons to rank/claim bets directly in dapp
  prediction-market/app/src/components/AgentBets.js
Due: none

Add offset to agent period start allowing for oracle to act first
  agent/README.md
  agent/agents/agent_controller.py
  agent/agents/lstm_multi_agent.py
  agent/agents/oracle.py
  agent/agents/prediction_market_adapter.py
  agent/test/test_oracle_unittest.py
Due: build_agent, test_agent

Address comments
  prediction-market/app/src/components/AgentBets.js
Due: none

Refactor formatting model input for lstm agents
  .gitlab-ci.yml
  agent/agents/lstm_agent.py
  agent/agents/lstm_multi_agent.py
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

Add script for real-time demo
  agent/README.md
  agent/agents/lstm_multi_agent.py
  agent/demo.sh
Due: build_agent, test_agent

Use new runner for node ci jobs
  .gitlab-ci.yml
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

[HR] #41 Add random forest agent and model
  agent/agents/rf_agent.py
  agent/calc_model_accuracy.py
  agent/demo.py
  agent/participants/p7.py
Due: build_agent, test_agent

Don't bet during last 2 demo days.
  agent/demo.py
Due: build_agent, test_agent

Fix model input scaling for random forest
  agent/agents/rf_agent.py
Due: none

Fix python code style.
  agent/agents/rf_agent.py
Due: none

[H] #59 Allow user to control speed of demo through command line input at different granularities
  agent/demo.py
Due: build_agent, test_agent

Resolve "Update config and pipeline for deploying contracts to different networks (manually))"
  .gitlab-ci.yml
  agent/agents/prediction_market_adapter.py
  prediction-market/truffle-config.js
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent

Change agent logging colors in demo
  agent/agents/agent.py
  agent/agents/ar_agent.py
  agent/agents/ar_retrain_agent.py
  agent/agents/ar_retrain_decision_agent.py
  agent/agents/cheating_agent.py
  agent/agents/lstm_agent.py
  agent/agents/lstm_multi_agent.py
  agent/agents/oracle.py
  agent/agents/prediction_market_adapter.py
  agent/agents/rf_agent.py
  agent/demo.py
Due: build_agent, test_agent

Path conditions:
  node_deps: any of: prediction-market/package.json, prediction-market/app/package.json, .gitlab-ci.yml
  python_deps: any of: agent/requirements.txt
  build_prediction_market: any of: prediction-market/*, .gitlab-ci.yml
  build_agent: any of: agent/*, .gitlab-ci.yml
  test_prediction_market: any of: prediction-market/*, .gitlab-ci.yml
  test_agent: any of: agent/*, .gitlab-ci.yml
  deploy_contracts: any of: prediction-market/contracts/*
  deploy_app: any of: prediction-market/app/*
