Repository charje-software/co362-group1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: node_deps, python_deps, build_prediction_market, build_agent, test_prediction_market, test_agent, deploy_contracts, deploy_app

.gitlab-ci.yml:

image: node:8.16

variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache: &node_cache
  key: node-cache
  paths:
  - prediction-market/node_modules/
  - prediction-market/app/node_modules/

stages:
  - install
  - build
  - test
  - deploy

node_deps:
  stage: install
  script:
   - cd prediction-market/
   - npm install truffle
   - npm install
   - cd app
   - npm install
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - prediction-market/*
     - .gitlab-ci.yml
     when: on_success

python_deps:
  stage: install
  image: python:3.7
  tags:
   - python-job
  script:
   - cd agent/
   - pip install virtualenv
   - virtualenv venv
   - source venv/bin/activate
   - pip install -r requirements.txt
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - agent/requirements.txt
     - .gitlab-ci.yml
     when: on_success
  cache: &python_cache
    key: python-cache
    paths:
     - .cache/pip
     - agent/venv/

build_prediction_market:
  stage: build
  script:
   - cd prediction-market/
   - ./node_modules/truffle/build/cli.bundled.js compile
   - cd app
   - npm run build
  artifacts:
   paths:
   - prediction-market/app/src/contracts
   - prediction-market/app/build
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - prediction-market/*
     - .gitlab-ci.yml
     when: on_success
  cache:
    <<: *node_cache
    policy: pull

build_agent:
  stage: build
  image: python:3.7
  tags:
   - python-job
  script:
   - cd agent/
   - pip install virtualenv
   - virtualenv venv
   - source venv/bin/activate
   # not building anything yet, just checking code style
   - pycodestyle --show-source --show-pep8 --max-line-length=100 **/*.py
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - agent/*
     - .gitlab-ci.yml
     when: on_success
  cache:
    <<: *python_cache
    policy: pull

test_prediction_market:
  stage: test
  services:
   - trufflesuite/ganache-cli
  dependencies:
   - build_prediction_market
  script:
   - cd prediction-market/
   - ./node_modules/truffle/build/cli.bundled.js test --network testing test/PredictionMarketTest.js
   - ./node_modules/truffle/build/cli.bundled.js test --network testing test/GettersTest.js
   - ./node_modules/truffle/build/cli.bundled.js test --network testing test/NoWinnersTest.js
   - ./node_modules/truffle/build/cli.bundled.js test --network testing test/OwnersTest.js
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - prediction-market/*
     - .gitlab-ci.yml
     when: on_success
  cache:
    <<: *node_cache
    policy: pull

test_agent:
  stage: test
  image: python:3.7
  tags:
   - python-job
  script:
   - cd agent/
   - pip install virtualenv
   - virtualenv venv
   - source venv/bin/activate
   - python -m unittest discover test
  artifacts:
    paths:
      - agent/metrics
    expire_in: 1 week
  rules:
   - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
     when: on_success
   - changes:
     - agent/*
     - .gitlab-ci.yml
     when: on_success
  cache:
    <<: *python_cache
    policy: pull

deploy_contracts:
  stage: deploy
  script:
   - cd prediction-market/
   - ./node_modules/truffle/build/cli.bundled.js migrate --network master
  only:
   refs:
   - master
   changes:
   - prediction-market/contracts/*
  cache:
    <<: *node_cache
    policy: pull

deploy_app:
  stage: deploy
  dependencies:
   - build_prediction_market
  script:
   - cp -R ./prediction-market/app/build/* /host/charje/
  only:
   refs:
   - master
   changes:
   - prediction-market/app/*
  cache: {}

Fix python code style
  agent/agents/agent.py
  agent/agents/ar_agent.py
Due: none

Adjust demo for presentation
  agent/agents/agent.py
  agent/agents/ar_agent.py
  agent/agents/ar_retrain_agent.py
  agent/agents/ar_retrain_decision_agent.py
  agent/agents/cheating_agent.py
  agent/agents/lstm_agent.py
  agent/agents/lstm_multi_agent.py
  agent/agents/oracle.py
  agent/agents/prediction_market_adapter.py
  agent/agents/rf_agent.py
  agent/demo.py
Due: build_agent, test_agent

Update and tidy README
  README.md
  agent/README.md
  agent/data/README.md
  agent/models/README.md
  agent/participants/README.md
  assets/agent_dashboard.png
  prediction-market/README.md
  prediction-market/app/README.md
Due: node_deps, build_prediction_market, build_agent, test_prediction_market, test_agent, deploy_app

Remove RF model to comply with Github's file size limit
  agent/README.md
  agent/models/README.md
  prediction-market/app/src/components/AgentBets.js
Due: build_agent, test_agent

Update README.md
  agent/README.md
Due: build_agent, test_agent

Add ropsten network to truffle config and update README
  README.md
  assets/betting_stages.png
  assets/charje_system_arch.png
  prediction-market/.gitignore
  prediction-market/README.md
  prediction-market/package-lock.json
  prediction-market/package.json
  prediction-market/truffle-config.js
Due: node_deps, build_prediction_market, test_prediction_market
